* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

/* nav bar section */
.navbar {
    background: #131313;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#user-name {
    color: #fff;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 125px;
    text-decoration: none;
    height: 100%;
    transition: all 0.3s ease;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.user__erea {
    display: flex;
    align-items: center;
    justify-content: right;
    width: 100%;
    height: 100%;
}

#user-icon {
    width: 2.5rem;
    height: 2.5rem;
    display: flex;
    padding-left: 3px;
}



/* Instructions section */
.instructions{
    height: 100vh;
    display: flex;
    justify-content: stretch;
    align-items: center;
    flex-direction: column;
    padding: 0 5vh;
    position: relative;
}

h1{
    text-align: center;  
    font-size: 1.7rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

h2, h3{
    font-size: 1.1rem;
    margin-bottom: 0.5rem;
    margin-top: 0.5rem;
}