* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Kumbh Sans', sans-serif;
  scroll-behavior: smooth;
}

*::after,
*::before {
  box-sizing: border-box;
}

:root {
  --cell-size: 100px;
  --mark-size: calc(var(--cell-size) * .9);
}

body {
  margin: 0;
  background: linear-gradient(to right, #f64f59, #c471ed, #12c2e9);
}

/* nav bar section */
.navbar {
  background: #131313;
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  position: sticky;
  top: 0;
  z-index: 999;
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  height: 80px;
  z-index: 1;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

#user-name {
  color: #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
  text-decoration: none;
  font-size: 1.3rem;
}

.navbar__menu {
  display: flex;
  align-items: center;
  list-style: none;
}

.navbar__item {
  height: 80px;
}

.navbar__links {
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 125px;
  text-decoration: none;
  height: 100%;
  transition: all 0.3s ease;
}

.navbar__btn {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 1rem;
  width: 100%;
}

/* score section */
.score {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
}

.score__title {
  font-size: 2rem;
  color: #fff;
  margin-bottom: 20px;
}

.score__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  max-width: 1300px;
  margin: 0 auto;
  padding: 0 50px;
}

.score__number {
  font-size: 1.5rem;
  color: #fff;
  text-align: center;
}



/* main section */
.board {
  width: 100vw;
  height: 60vh;
  display: grid;
  justify-content: center;
  align-content: center;
  justify-items: center;
  align-items: center;
  grid-template-columns: repeat(3, auto)
}

.cell {
  width: var(--cell-size);
  height: var(--cell-size);
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  cursor: pointer;
}

.cell:first-child,
.cell:nth-child(2),
.cell:nth-child(3) {
  border-top: none;
}

.cell:nth-child(3n + 1) {
  border-right: none;
}

.cell:nth-child(3n + 3) {
  border-left: none;
}

.cell:last-child,
.cell:nth-child(8),
.cell:nth-child(7) {
  border-bottom: none;
}

.cell.x{
  background: url(../imgs/x.png) no-repeat center / 50%;
}

.cell.circle{
  background: url(../imgs/o.png) no-repeat center / 60%;
}

.cell.x,
.cell.circle {
  cursor: no-drop;
}


.cell.x::after,
.cell.circle::before {
  background-color: black;
}

.board.x .cell:not(.x):not(.circle):hover::before,
.board.x .cell:not(.x):not(.circle):hover::after{
  background: url(../imgs/x.png) no-repeat center / 50%;
  opacity: .5;
}
.board.circle .cell:not(.x):not(.circle):hover::before,
.board.circle .cell:not(.x):not(.circle):hover::after {
  background: url(../imgs/o.png) no-repeat center / 60%;
  opacity: .5;
}

.cell.x::before,
.board.x .cell:not(.x):not(.circle):hover::before {
  content: '';
  background: url(../imgs/x.png) no-repeat center / 50%;
  opacity: .5;
  position: absolute;
  width: calc(var(--mark-size));
  height: var(--mark-size);
}


.cell.circle::before,
.board.circle .cell:not(.x):not(.circle):hover::before{
  content: '';
  background: url(../imgs/o.png) no-repeat center / 63%;
  opacity: .5;
  position: absolute;
  width: calc(var(--mark-size));
  height: var(--mark-size);
}

/* winning message */
.winning-message {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, .9);
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 5rem;
  flex-direction: column;
}

.winning-message button {
  font-size: 3rem;
  background-color: white;
  border: 1px solid black;
  padding: .25em .5em;
  cursor: pointer;
}

.winning-message button:hover {
  background-color: black;
  color: white;
  border-color: white;
}

.winning-message.show {
  display: flex;
}